<div class="features">
    <div class="feature-item">
        <img class="feature-icon" src="../images/icons/icon_o_door.png" alt="便捷开门">
        <div class="feature-title">便捷开门</div>
        <div class="feature-desc">蓝牙/二维码多种开门方式</div>
    </div>
    <div class="feature-item">
        <img class="feature-icon" src="../images/icons/icon_hous_application.png" alt="房屋申请">
        <div class="feature-title">房屋申请</div>
        <div class="feature-desc">在线提交房屋申请，方便快捷</div>
    </div>
    <div class="feature-item">
        <img class="feature-icon" src="../images/icons/icon_login.png" alt="安全可靠">
        <div class="feature-title">安全可靠</div>
        <div class="feature-desc">数据加密，保障安全</div>
    </div>
</div> 